<form class="profile-search-form" [formGroup]="searchForm">
    <div class="two-coloms">
    <label class=".tt-form-label">
            <span class="tt-form-label__text">Firstname</span>
            <input type="text" class="tt-form-input" formControlName="firstName">
        </label>

        <label class=".tt-form-label">
            <span class="tt-form-label__text">Lastname</span>
            <input type="text" class="tt-form-input" formControlName="lastName">
        </label>

        <label class=".tt-form-label">
            <span class="tt-form-label__text">Stack</span>
            <input type="text" class="tt-form-input" formControlName="Stack">
        </label>
    </div>
</form>