:host{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100dvg;
    align-items: center;
    margin: 0 5%;
}

.login-form{
    width: 440px;
    margin-top: 20%;
    margin-left: 20%;
}

img{
    margin-top: 250px;
    margin-left: 300px;
    width: 500px;
    height: 500px;
}

.password-input{
    position: relative;

}

.password-eye-btn{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 12px;
    background: none;
    border: none;
    color: #FFFFFFBF;
    cursor: pointer;
}

.btn-password-eye-btn.active{
    color: #AE7AFF;
}   

label{
    margin-bottom: 15px;
}